.div
{
    background-color: rgba(224, 224, 224, 0.85);
    border-radius: 3rem;
    width: 40%;
    position: absolute;
    left: 10%;
    top: 20vh;
    padding-bottom: 1rem;
    display: inline-block;
    margin-bottom: 5rem;
}

#form1
{
    background-color: rgba(224, 224, 224, 0.85);
    border-radius: 3rem;
    width: 40%;
    position: relative;
    top: 10vh;
    padding-bottom: 1rem;
    display: inline-block;
}

.div2
{
    background-color: rgba(224, 224, 224, 0.85);
    border-radius: 3rem;
    top: 1vh;
    width: 40%;
    position: absolute;
    top: 50%;
    padding-bottom: 1rem;
    display: inline-block;
}

#middle
{
    display: inline-block;
    width: 5vw;
}