.div
{
    background-color: rgba(224, 224, 224, 0.85);
    border-radius: 3rem;
    width: 40%;
    position: relative;
    top: 15vh;
    padding-bottom: 1rem;
    display: inline-block;
}

#middle
{
    display: inline-block;
    width: 5vw;
}